@model IEnumerable<ECommerceDemo.DTO.ProductDto>

    <h2>Product Catalog</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="@product.Id"/>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </td>
            </tr>    
        
        }
    </tbody>

    </table>